In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("UNI.csv")
df.head()

,v.id,on road old,on road now,years,km,rating,condition,economy,top speed,hp,torque,current price
0,1,535651,798186,3,78945,1,2,14,177,73,123,351318.0
1,2,591911,861056,6,117220,5,9,9,148,74,95,285001.5
2,3,686990,770762,2,132538,2,8,15,181,53,97,215386.0
3,4,573999,722381,4,101065,4,3,11,197,54,116,244295.5
4,5,691388,811335,6,61559,3,9,12,160,53,105,531114.5

In [7]:
df = df.sample(frac=1)
df.head()X = df.drop(["v.id","current price"], axis = 1)
Y = df["current price"]

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y, test_size = 0.3, random_state = 26)

,v.id,on road old,on road now,years,km,rating,condition,economy,top speed,hp,torque,current price
589,590,612406,885832,6,93572,5,10,15,142,56,115,422774.5
814,815,584033,829176,5,138104,4,8,15,136,59,104,169784.0
374,375,549895,792233,5,95730,5,8,14,170,91,123,304818.0
394,395,539392,721550,3,81037,4,3,12,175,108,95,307096.0
450,451,577448,711931,7,140455,4,5,13,137,71,86,76772.0

In [8]:
X = df.drop(["v.id","current price"], axis = 1)
Y = df["current price"]

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y, test_size = 0.3, random_state = 26)

In [14]:
from sklearn.metrics import r2_score,mean_squared_error, mean_absolute_error

### Sklearn linear regression

In [11]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train,y_train)
y_pred = lr.predict(x_test)

In [15]:
print('Mean Absolute Error:', mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 7414.3272241392515
Mean Squared Error: 77586300.74584475
Root Mean Squared Error: 8808.308620038511

## Decision Tree

In [24]:
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor()

dt.fit(x_train,y_train)
print("R-Squared on train dataset={}".format(dt.score(x_train,y_train)))

dt.fit(x_test,y_test)   
print("R-Squaredon test dataset={}".format(dt.score(x_test,y_test)))

R-Squared on train dataset=1.0
R-Squaredon test dataset=1.0

In [17]:
y_pred = dt.predict(x_test)
print('Mean Absolute Error:', mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.0
Mean Squared Error: 0.0
Root Mean Squared Error: 0.0

In [48]:
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor(max_depth=4,
                           min_samples_split=5,
                           max_leaf_nodes=10)

dt.fit(x_train,y_train)
print("R-Squared on train dataset={}".format(dt.score(x_train,y_train)))

dt.fit(x_test,y_test)   
print("R-Squaredon test dataset={}".format(dt.score(x_test,y_test)))

y_pred = dt.predict(x_test)
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

R-Squared on train dataset=0.9008607856947791
R-Squaredon test dataset=0.909923135962116
Mean Absolute Error: 29814.61220994656
Mean Squared Error: 1447145813.8359962
Root Mean Squared Error: 38041.36976813527

In [49]:
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor(max_depth=4,
                           min_samples_split=5,
                           max_leaf_nodes=10)

dt.fit(x_train,y_train)
print("R-Squared on train dataset={}".format(dt.score(x_train,y_train)))

dt.fit(x_test,y_test)   
print("R-Squaredon test dataset={}".format(dt.score(x_test,y_test)))

R-Squared on train dataset=0.9008607856947791
R-Squaredon test dataset=0.909923135962116

In [50]:
y_pred = dt.predict(x_test)
print('Mean Absolute Error:', mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 29814.61220994656
Mean Squared Error: 1447145813.8359962
Root Mean Squared Error: 38041.36976813527

In [52]:
from sklearn.model_selection import GridSearchCV
param_grid = {"criterion": ["mse", "mae"],
              "min_samples_split": [10, 20, 40],
              "max_depth": [2, 6, 8],
              "min_samples_leaf": [20, 40, 100],
              "max_leaf_nodes": [5, 20, 100],
              }
grid_cv_dt = GridSearchCV(dt, param_grid, cv=5)

grid_cv_dt.fit(x_train,y_train)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=DecisionTreeRegressor(criterion='mse', max_depth=4, max_features=None,
           max_leaf_nodes=10, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=5, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best'),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'criterion': ['mse', 'mae'], 'min_samples_split': [10, 20, 40], 'max_depth': [2, 6, 8], 'min_samples_leaf': [20, 40, 100], 'max_leaf_nodes': [5, 20, 100]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [53]:
print("R-Squared::{}".format(grid_cv_dt.best_score_))
print("Best Hyperparameters::\n{}".format(grid_cv_dt.best_params_))

R-Squared::0.9094663313721539
Best Hyperparameters::
{'criterion': 'mse', 'max_depth': 6, 'max_leaf_nodes': 100, 'min_samples_leaf': 20, 'min_samples_split': 10}

In [54]:
y_pred = grid_cv_dt.predict(x_test)
print('Mean Absolute Error:', mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 26289.816969187763
Mean Squared Error: 1082264992.8883967
Root Mean Squared Error: 32897.796170691996

## Random Forest

In [67]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=9000)
rf.fit(x_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=9000, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [68]:
y_pred = rf.predict(x_test)
print('Mean Absolute Error:', mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 13369.533793703704
Mean Squared Error: 290452891.9557994
Root Mean Squared Error: 17042.67854404933

## Gradient Boosting

In [72]:
from sklearn.ensemble import GradientBoostingRegressor
params = {'n_estimators': 2000, 'max_depth': 25, 'min_samples_split': 2,
          'learning_rate': 0.005, 'loss': 'ls'}
gbr = GradientBoostingRegressor(**params, verbose=True)

gbr.fit(x_train, y_train)
y_pred = gbr.predict(x_test)
print('Mean Absolute Error:', mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test, y_pred)))

      Iter       Train Loss   Remaining Time
         1 15610912781.7396           21.97s
         2 15455193926.7417           16.97s
         3 15301028367.3225           15.97s
         4 15148400609.3584           15.46s
         5 14997295313.2801           14.75s
         6 14847697292.5301           14.61s
         7 14699591512.0371           14.23s
         8 14552963086.7046           14.18s
         9 14407797279.9147           13.93s
        10 14264079502.0475           13.72s
        20 12903435809.0225           13.36s
        30 11672583264.3926           12.73s
        40 10559141152.8476           12.73s
        50  9551909749.5650           12.40s
        60  8640757666.0938           12.18s
        70  7816519942.2617           12.18s
        80  7070905859.0455           12.19s
        90  6396415545.1277           12.03s
       100  5786264538.3140           11.87s
       200  2123315030.9111           11.27s
       300   779167058.5816           10.67s
       400   285921446.5779            9.94s
       500   104921111.2210            9.23s
       600    38501622.4268            8.57s
       700    14128471.4986            7.94s
       800     5184553.1255            7.31s
       900     1902512.3215            6.69s
      1000      698141.7773            6.08s
      2000          30.9104            0.00s
Mean Absolute Error: 21456.1613711979
Mean Squared Error: 746234114.2905174
Root Mean Squared Error: 27317.28599789001